
.title{
    text-align: center;
    margin-top:0;
    font-family: "Times New Roman", Times, serif;
    font-size: clamp(4rem,8vw,8rem);
    font-weight: 1000;
    color: white;
    margin-bottom:0;
}

.subtitle{
    margin-top:0;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: clamp(1.25rem,2vw,2rem);
    font-weight: 900;
    color: white;
}

.description{
    color:white;
    margin-right: 4em;
    margin-left:4em;
    font-family: "Times New Roman", Times, serif;
}


.fullscreen-section {
    height: 100vh; /* Full viewport height */
    width: 100%;
    display: inline-block;
    background-color: #2E3A66;
}

.backTop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #2E3A66;
    color: white;
    border: none;
    border-radius: 50%;
    width:2.5em;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.backtop:hover{
    transform: scale(1.05);
}

.url{
    text-align: center;
}

.subButtons{
    font-size:clamp(1rem,1.5vw,1.5rem);
    margin-right: 2em;
    width:clamp(11rem,12vw,12em);
    margin-top:0em!important;
} 

.length-Res{
    margin:1em;
    color:rgb(148, 146, 146);
}

.textbox-input{
    padding-left: 1em;
    margin-top: 2em;
    height:2.5em;
    width:clamp(15rem,50vw,30rem);
    font-size:clamp(1rem,1.5vw,1.5rem);
    border-radius:0.25em;
}

.resultsIndicator{
    color:white;
    font-family: "Times New Roman", Times, serif;
    align-items: center;
    position: fixed;
    font-size: 1.2em;
    bottom: 2em;
}

.card{
    margin:2em;
}

.Keywords{
    color:white;
    font-family: "Times New Roman", Times, serif;
    justify-content: center;
    text-align: center;
    margin-top:2em;
}

.keyword-options{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}