.results-container {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color:white;
    margin:2em;
    font-family: "Times New Roman", Times, serif;
    box-shadow: 0.2em 0.2em 0.5em rgb(160, 160, 160)
}

.card{
    box-shadow: 0.2em 0.2em 0.5em rgb(160, 160, 160);
}

.background{
    background-color: #2E3A66;
    height: 100vh; /* Full viewport height */
    width: 100%;
    display: inline-block;
    background-color: #2E3A66;
}

.home-button{
    width:15em;
    margin:0;
    margin-left: 4em;
    margin-top:2em;
}
.Desc{
    margin-top:2em;
}

.bias-section {
    margin-top: 20px;
}

.bias-bar {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.bias-fill {
    width: 100%;
    height: 100%;
}

.political {
    background: linear-gradient(to right, blue, red);
}

.sentimental {
    background: linear-gradient(to right, orange, green);
}

.bias-marker {
    position: absolute;
    top: 0;
    width: 0.5em;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 2px white;
    border-radius: 0.5em;
}

.bias-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}
